/*backgroundimage*/
body{
    background-color: black;
    height: 100vh;
    background-image: url(../css/childcake.jpg);
    background-size: cover;
    background-repeat: no-repeat;

} 
 /*grouping*/
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: 2em;
   font-weight: bolder;
   font-style: italic;
   color: #0f0;
   text-align: center;
 }
 /* nesting */

 ul,
 li {
   color: #00ff;
 }



